extends layout

block content
  h1= title
  p Welcome to #{title}
block scripts
  script(type='text/javascript').
    var socket = io.connect('http://localhost');
    socket.on('news', function (data) {
        console.log(data);
        socket.emit('my other event', { my: 'data' });
    });
    socket.on('broadcast event', function (data) {
        console.log(data);
    });